<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>搜索组件</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>用户名</td>
                        <td>员工姓名</td>
                        <td>职位</td>
                        <td>邮箱</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user,status:${users}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.position}"></td>
                        <td th:text="${user.email}"></td>
                        <td><button>密码重置</button><button>删除员工</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>